<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login CSS </title>
<link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>


 <nav class="navbar">
        <div class="left-side">
            <h1>Car Booking and Rental Service</h1>
        </div>
        <div class="right-side">
            <a th:href="@{/signup}">Signup</a>
            <a th:href="@{/login}">Login</a>
        </div>
    </nav>

 <div class="container">
 
 	<div class="message" th:if="${successMessage != null}">
 			<span th:text = "${successMessage}"></span>
    	</div>
    
    	<div class="message" th:if="${errorMessage != null}">
 			<span th:text = "${errorMessage}"></span>
    	</div>
 
       <form th:action="@{/login}" method="post">
            <h2>Login</h2>
            <label for="username">Username</label>
            <input type="email" id="email" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        
        <p>Don't have an account? <a href="/signup">Signup here</a></p>
    </div>

</body>
</html>