<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Forgot Password request</title>

<link rel="stylesheet" th:href="@{/css/passwordRequest.css}">
</head>
<body>


    <div class="container">
    
    <div class="message" th:if="${successMessage != null}">
 			<span th:text = "${successMessage}"></span>
    	</div>
    
    	<div class="message" th:if="${errorMessage != null}">
 			<span th:text = "${errorMessage}"></span>
    	</div> 
    
        <form class="email-form" th:action="@{/process-password-request}" method="post">
           
            <input type="email" id="email" name="email" placeholder="emter your email here" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>